ul{
    color: black;
    font-size: 25px;
    text-align: left;
}

h1{
    font-size: 50px;
    text-align: center;
    color: black;
    font-family: "Times New Roman", Times, serif;
}

p{
    font-size: 30px;
}

a{
    text-align: left;
    font-size:50px;
    color: rgb(173, 255, 47);    

}

a:hover{
    color: black;
}